.principal,
.cards {
  margin-top: 20px;
  border: 1px solid #111;
}

.card-item {
  max-width: 320px;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  background-color: aquamarine;
}

.primary-news,
.secondary-news {
  margin-bottom: 30px;
}

.secondary-news {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 1px solid;
}

.news-box-image {
  padding: 0;
  margin: 0;
}

.news-image {
  max-width: 100%;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
