.principal,
.cards {
  margin-top: 20px;
}

.card-item {
  margin-bottom: 20px;
  background-color: aquamarine;
}

.card-item-secondary {
  margin-bottom: 20px;
  background-color: aquamarine;
}

.primary-news,
.secondary-news {
  margin-bottom: 30px;
}

.secondary-news {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.news-box-image {
  padding: 0;
  margin: 0;
}

.news-image {
  max-width: 100%;
}
/* // Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  .cards,
  .cards-secondary,
  .primary-news,
  .about-author {
    flex-direction: column;
  }
  .news-box-image {
    clear: both;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card-item {
    max-width: 320px;
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
    background-color: aquamarine;
  }

  .card-item-secondary {
    max-width: 270px;
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
    background-color: aquamarine;
  }
}

/* // Large devices (desktops, 992px and up) */
@media only screen and(min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
